.page {
    background-color: #2A2C2F;
    max-width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
  }

  @media screen and (max-width: 1024px) {
      .page {
        max-width: 1024px;
      }
  }

@media screen and (max-width: 768px) {
    .page {
      max-width: 100%;
    }
}
