@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 0 0 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px;
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 567px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 12px;
        margin: 0 16px 64px;
    }
}
