@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    max-width: 984px;
    min-height: auto;
    margin: 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin: 0;
    }
}
