@import url(./__logo/header__logo.css);
@import url(./__list/header__list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underlined/header__lang-link_underlined.css);

.header {
    padding: 28px 48px 56px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 48px 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 48px;
    }
}

@media screen and (max-width: 414px) {
    .header {
        padding: 16px 16px 48px;
      }
}
