.lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    max-width: 640px;
    text-align: center;
    align-self: center;
    margin: 0 0 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 0 56px;
        max-width: 100% - 384px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
      max-width: 100% - 128px;
    }
}

@media screen and (max-width: 414px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        max-width: 100% - 32px;
        margin: 0 0 40px;
    }
}
