.website__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.22;
    font-weight: normal;
    opacity: 1;
}

.website__link:hover {
    transition: opacity 0.5s linear;
    opacity: 0.8;
}
