@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas:
    "title website"
    "image paragraph";
    margin: 0 0 80px;
}
