@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100fr 105fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas:
    "title website"
    "image paragraph";
    margin: 0 0 80px;
}

.place:last-child {
    margin: 0;
}
