@import url(./__list/footer__list.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    height: 18px;
    margin: 0 48px 0;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
