.intro__title {
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
    margin: 0 0 40px;
    max-width: 100%;
}

@media screen and (max-width: 414px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}
